ul li a img {
    width: 22px;
    margin: 0px 3px 0px 11px;
}

a.cart.iconRound {
    width: 55px;
    height: 55px;
    font-size: 11px;
    text-align: initial !important;
    transition-duration: .2s;
}

a.cart.iconRound:before {
    display: none;
}

a.cart.iconRound:hover {
    color: #a50ed7;
}

a.cart.iconRound i {
    transition: none !important;
}

.badge {
    background: #8f38aa !important;
}

.cart .badge {
    font-size: .85em;
    position: absolute;
    top: 0px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav.sidenav {
    background: #fff;
    color: #444;
}

nav.sidenav * {
    color: #444;
}

nav.sidenav a:hover {
    color: #e37fdcee;
}

nav.sidenav ul li {
    padding: 0.6rem 0.5rem !important;
    font-size: 18px;
    margin: 0px !important;
}

nav.sidenav ul li * {
    font-size: 18px;
}

nav.sidenav .list-inline-item:last-child {
    margin: 0px !important;
}
/* nav END */
/* Body START */

#home .banner {
    /* background: url(../img/banners/banner4.jpg); */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: auto; */
}

#login .banner {
    background: url(../img/banners/banner2.jpg);
    background-position: 0px -190px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mouseScroll .botn {
    height: 50px;
    width: 30px;
    border: 2px solid #eae5d7;
    position: absolute;
    left: 50%;
    bottom: 40px;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}

.mouseScroll .botn::before,
.mouseScroll .botn::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #eae5d7;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.mouseScroll .botn::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
}

.page-body {
    /* padding: 10px; */
}

.page-body .nav {
    justify-content: center;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: #daa8ff8a #dee2e6 #edd5ff8a;
    background: #daa8ff8a;
}

a.nav-link i {
    font-size: 4em;
    padding: 0px 28px;
    color: #651f7b;
}

svg.bd-placeholder-img.card-img-top {
    height: 280px;
}

input.form-control {
    text-align: right;
}

button.btn.input-group-text {
    background: #d169f2;
}

button.btn.input-group-text:hover {
    color: #e7dde7;
    background-color: #9f00ff;
    border-color: #d169f2;
}

.tab-pane .container {
    padding-top: 0px;
}

.section-container.row {

}

.section-header {}

.section-header:before {}

.section-header {}

.card {}

.image {}

.image img {}

.image .layer {
    display: flex;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background: #000000cc;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s all ease-in-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    visibility: hidden;
}

.image .layer i,
.image .layer label {
    font-size: 3.125rem;
    cursor: pointer;
}

.image:hover .layer {}

.wish i,
.wishlabel {}

.wish i.clicked,
.wish label.clicked {}

.cardcontainer {}

.ribbon {}

.ribbon:after {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 0 4px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    border-color: transparent transparent transparent #ad859f;
}

.ribbon:before {
    content: '';
    position: absolute;
    right: -4px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 0 4px;
    border-color: transparent transparent transparent #ad859f;
}

.card-title {}

.card .btn-group.card_footer {
    width: 100%;
    text-align: center;
    color: #77356c;
    border-top: 1px solid #8c40a4;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 2.5rem;
}

.card .btn-group.card_footer .price-t {
    width: 37%;
    font-family: 'kelly slab', sans-serif;
    letter-spacing: 0.6px;
}

.card .btn {}

.card .btn,
.card .outofstock {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #77356c;
    border: none;
    border-color: #8c40a4 !important;
    background-color: transparent;
    height: 41px;
    padding: 0px;
    text-align: center;
    width: auto !important;
}

.card .addtocart,
.card .outofstock {
    border-left-style: ridge;
    border-width: 1px;
    border-radius: 0px;
    order: 1;
    min-width: 60% !important;
}

.card .btn i,
.card .btn input {
    border: none;
    /* padding: 5px; */
    padding: 0px;
    margin: 0px !important;
    outline: none;
    pointer-events: none;
}

.card .btn i {}

.card .details {}

.card .btn input {}

.outofstock {}

.card .btn:hover {}

.card .btn:hover>* {}

.outofstock {}

.card .btn i {}

.card .btn:hover>i {}

.platforms {}

.platforms h5 {}

.platforms i {}

.modal .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}

.modal .modal-body>* {
    margin: 13px 0px !important;
}

.modal .modal-body .card.buttons {
    width: 100%;
    border-radius: 4px;
}

.modal .modal-body .card.buttons .btn-group.card_footer {
    margin: 0px;
    border-top: none;
}
/* Swiperjs  START */

.slider-container {
    background: #7a4dbd;
}

.swiper {
    width: 100%;
    height: 470px;
    user-select: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    width: 40%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.infoSlider .swiper-slide {
    /* width: 100% !important; */
}

.infoSlider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.modal .modal-ribbon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.infoSlider .swiper-button-next,
.infoSlider .swiper-button-prev {
    color: #26052c;
    padding: 0px;
    background: rgb(238 229 252);
    border-radius: 12px;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .2;
}

.infoSlider .swiper-pagination-bullet-active {
    opacity: 1;
    background: #26052c;
}

.infoSlider .swiper-button-next:after,
.infoSlider .swiper-button-prev:after {
    font-size: 20px;
}

.infoSlider.swiper-horizontal>.swiper-pagination-bullets,
.infoSlider .swiper-pagination-custom,
.infoSlider .swiper-pagination-fraction {
    bottom: 35px;
    /* left: 0; */
    width: fit-content;
    background: #eee5fc;
    padding: 3px 5px;
    border-radius: 10px;
    margin: auto;
    display: block;
    transform: none;
    position: relative;
}

.modal::-webkit-scrollbar {
    transition: 0s;
}

.modal .modal-info {
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .modal-info>* {
    margin: 20px 0px !important;
    display: block;
    width: fit-content;
    text-align: center;
}

.quote {
    color: #e9e1ce;
}

.quote p {
    /* background: #fff; */
    position: relative;
    padding: 2.5rem 1rem 1.5rem;
    border: 1px solid #e9cfe4;
    -webkit-box-shadow: 3px 3px 4px 0 rgb(0 0 0 / 30%);
    box-shadow: 3px 3px 4px 0 rgb(0 0 0 / 30%);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    width: 90%;
    margin: auto;
}

.quote p:before {
    content: "";
    position: absolute;
    right: 40px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top-color: #7a4dbd;
}

.quote p:after {
    content: "";
    position: absolute;
    right: 38px;
    bottom: -24px;
    border: 12px solid transparent;
    border-top-color: #fffbfe;
    z-index: -1;
}

.quote img {
    width: unset;
    height: 85px;
}

.review .user {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 5px;
}

.text-right {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

ul.rating {
    margin: 0px;
    margin-right: .5rem;
}

ul.rating li {
    color: #ebb207;
}

.reviewSlider .swiper-pagination-bullet-active {
    background: #e9cfe4;
}
/* Swiperjs END */

.choose {
    align-items: baseline;
    text-align: right;
}

.choose h1 {
    width: 100%;
    padding: 40px 0px;
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    text-align: center;
}

.reason {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 50px;
}

.reason h3 {
    font-size: 22px;
    letter-spacing: normal;
    margin-bottom: 10px;
}

.iconRoundWrap {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.iconRound {
    width: 80px;
    height: 80px;
    background: #d169f2;
    color: #651f7b;
    border-radius: 50%;
    position: relative;
    box-shadow: #00000040 1px 5px 12px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.iconRound:before {
    content: " ";
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.9px dotted #671582;
    border-radius: 100%;
}

.description p {
    font-size: 15px;
    color: #777;
}
/* Body END */
/* footer START */

footer.page-footer {
    margin: 0px !important;
    user-select: none;
    background: #12012b;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    direction: ltr !important;
}

footer.page-footer.text-muted {
    color: #97a5b0!important;
}

footer ul {
    padding: 10px;
    margin: 0px;
    display: block;
}

ul.social0media {
    margin: auto;
    width: fit-content;
    padding: 0px;
}

li.list-inline-item a {
    color: #f5f1d2ee;
}

.list-inline-item:last-child {
    margin-right: .5rem !important;
}

footer ul li a:hover {
    color: #d169f2;
}

footer .social0media a {
    font-size: 17px;
}

ul.list-inline.payments {
    background: rgb(238 229 252);
}

ul.payments li img {
    width: unset!important;
    max-width: unset!important;
    height: 18px;
}

footer .email {
    user-select: text;
    padding-top: 10px;
}
/* footer END */
/* Login START */

.login-container {
    margin-top: -14%;
    margin-bottom: 5%;
}

.login-container input.btnSubmit {
    text-align: center;
}

.login-form-2 {
    padding: 5%;
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
}

.login-container h3 {
    text-align: center;
}

.login-form-1 h3 {
    color: #333;
}

.login-form-1 {
    padding: 5%;
    background: #a662bc;
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
}

.login-form-1 h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    outline: none;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #a662bc;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #a662bc;
    background-color: #fff;
}

.login-form-1 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-2 .ForgetPwd {
    color: #a662bc;
    font-weight: 600;
    text-decoration: none;
}

div#error.alert-danger {
    padding-right: 2rem;
}

.checkbox {
    display: inline-block;
    width: fit-content;
}

.checkbox-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.checkbox input {
    display: none;
}

.checkbox label {
    position: relative;
    padding-right: 26px;
    color: #a662bc;
    margin-bottom: 0;
    font-weight: 600;
    font-size: inherit;
}

.checkbox label::before {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    width: 19px;
    height: 18px;
    border: 1px solid;
    border-color: #a662bc;
    border-radius: 2px;
    background-color: transparent;
}

.checkbox label:after {
    position: absolute;
    padding-right: 3px;
    font-size: 10px;
    color: #a662bc;
}

.checkbox input:checked+label::before {
    border-color: #a662bc;
    background: #a662bc;
    transition: .3s all ease-in-out;
}

.checkbox input:checked+label::after {
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
    font-weight: 900;
    color: #fff;
    right: 1px;
    top: 4.7px;
    transition: .2s all ease-in-out;
}

.checkbox input:checked+label {
    color: #a662bc;
    transition: .3s all ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.check {
    justify-content: flex-end;
}

.login-form-1 .checkbox {
    font-family: 'tajwal', sans-serif;
}

.login-form-1 .checkbox label {
    font-size: 16px;
}

.login-form-1 .checkbox,
.login-form-1 .checkbox input:checked+label,
.login-form-1 .checkbox label::before,
.login-form-1 .checkbox label:after,
.login-form-1 .checkbox label {
    color: #fff;
    border-color: #fff;
}

.login-form-1 .checkbox input:checked+label::before {
    border-color: #fff;
    background: #fff;
    transition: .3s all ease-in-out;
}

.login-form-1 .checkbox input:checked+label:after {
    color: #a662bc;
}

.checkbox label a {
    color: #593196;
}
/* Login END */
/* Checkout START */

.step:nth-child(2) {
    text-align: center;
}

#checkout ul.list-group li span {
    margin: auto 0;
    text-align: left;
}

#checkout li.list-group-item .text-success {
    width: fit-content;
    /* margin-left: auto; */
    text-align: right;
}

#checkout li.list-group-item .text-success>h6 {
    font-size: .8rem;
}

.confrimpayment {
    background: #682084;
    border-color: #682084;
    transition: .14s all linear;
    white-space: nowrap;
    width: fit-content !important;
    margin: auto;
    display: block;
    direction: rtl;
}

.confrimpayment i {
    padding: 2px 5px;
}

.confrimpayment:hover {
    color: #000;
    background-color: #d169f2;
    border-color: #d169f2;
}
/* empty checkout */

.emptyicon {
    opacity: .7;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    user-select: none;
    text-align: center;
}

.emptyicon>* {
    margin: 8px auto;
    display: block;
}

.emptyicon>i {
    font-size: 110px;
}

.order-id {
    display: flex !important;
    padding: 0px 30px;
    border: 1px solid #651f7b;
    user-select: text;
    cursor: text;
    align-items: center;
    /* display: flex; */
}

.order-id>* {
    margin: 8px 0px;
}

.order-id span {
    display: inline-block;
    color: #000;
    font-weight: 900;
    margin: 2px 6px;
}
/* empty checkout */

.py-5 {
    padding-top: 105px !important;
    padding-bottom: 3rem!important;
}

.list-group-item {
    width: 100%;
    margin: auto;
}

.list-group-item,
.list-group-item:hover {
    color: #000;
}

.disabled-payment {
    cursor: not-allowed;
}
/* Checkout END */
/* DMCA START */

input,
label,
textarea {
    text-align: right;
}

.form-floating>label {
    left: unset;
    right: 0;
}
/* DMCA END */
/* license START */

ul.license {
    flex-direction: column;
    padding: 20px;
    list-style: arabic-indic;
    direction: rtl;
}

ul.license li {
    padding: 10px;
}

ul.license li::marker {
    font-size: 20px;
}
/* license END */
/* underM START */

i.fas.fa-robot {
    display: block;
    font-size: 130px;
    margin: 27px 0px;
}
/* underM END */

textarea#floatingReview {
    min-height: 10rem;
}
/* test */

.rating {
    float: left;
}
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
follow these rules. Every browser that supports :checked also supports :not(), so
it doesn’t make the test unnecessarily selective */

.rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
    float: right;
    width: 1em;
    /* padding:0 .1em; */
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 300%;
    /* line-height:1.2; */
    color: #ddd;
}

.rating:not(:checked)>label:before {
    content: '★ ';
}

.rating>input:checked~label {
    color: #c822fd;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #c822fd;
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #c822fd;
}

.rating>label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.ra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 21px;
}

.ra span.readrating {
    font-size: 23px;
}
/* test */
/* user profile START */
/* .user {
margin-top: 10%;
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: column;
text-align: center;
}
*/


.user .userName {
    font-size: 36px;
    font-weight: 100;
    font-family: 'bree serif', sans-serif;
    text-transform: capitalize;
}

#settings input.btn.button {
    margin: auto;
}
/* .joined-since.text-muted {
font-size: 14px;
}
.activity-status {
width: 23px;
height: 23px;
display: inline-block;
margin: -2px 6px 0 0;
background: #d5d5d5;
vertical-align: middle;
border-radius: 100%;
position: absolute;
top: 12px;
right: 11px;
box-shadow: 0px 2px 3px 0px #00000057;
}
.activity-status.online {
background: #88e669;
}
*/

.modal {
    text-align: right;
}

.modal-header {
    display: flex;
    flex-direction: row-reverse;
}

.modal .modal-header .btn-close {
    padding: .5rem;
    margin: -.5rem auto -.5rem -.5rem;
}

.modal .account>* {
    padding: 8px 0px;
}

.modal.date {
    font-size: 19px;
}

.modal .date span {
    font-size: 13px;
    padding: 7px;
}

.modal table {
    direction: rtl;
}

.modal table tr td:not(first-of-type) {
    text-align: center;
}

.modal table tr td:last-of-type {
    text-align: left;
}

.account-title h5 {
    font-size: 17px;
    text-align: center;
    font-weight: 900;
}

.modal .account .email input,
.modal .account .password input {
    text-align: left;
    cursor: text;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.card.card-min .btn-group>* {
    border-color: #8c40a4 !important;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: middle;
}

.card.card-min {
    margin-top: 50px;
    text-align: right;
}

.card.card-min .card-header h5 {
    margin: auto;
}

.card.card-min .card-body {
    padding: 20px;
}

.card-min .card-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card.card-min .card-title h5 {
    order: -8;
    padding-right: 20px;
}

.card.card-min .card-title img {
    width: 6.938rem;
    height: unset;
    border-radius: 6px;
    background: #271348;
    padding: 5px;
}

.card.card-min .btn-group {
    width: 100%;
}

.card-min .btn-group .btn i {
    padding: 20px;
}

.card .btn input {
    width: fit-content;
}

#checkout ul.list-group li-item.d-flex.justify-content-between.lh-sm.row {
    max-width: 100%;
    margin: auto;
}

#checkout ul.list-group li>div.col-3 {
    display: flex;
    position: relative;
    justify-content: left;
    flex-wrap: wrap;
    flex-flow: column;
}

.delete-button {
    margin: 4px 0px;
    margin-right: auto;
    width: 22px;
    height: 22px;
    padding: 11px;
    text-align: center;
    color: #f55157;
    border: 2px solid #f55157;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .04s linear all;
}

.delete-button:hover {
    color: #fff;
    border: 2px solid transparent;
    background: #f55157;
}

.add-minus-btn.btn-group {
    direction: ltr;
    margin: auto;
    display: flex;
}

.btn-group.add-minus-btn .button {
    padding: 0px;
    transition: .2s all linear;
    background: transparent;
    color: #000 !important;
    border: 1px solid #651f7b;
    font-weight: 900;
    border-radius: 1px;
}

.btn-group.add-minus-btn input.product-count {
    text-align: center;
    font-size: 20px;
    width: 50%;
    border-radius: 0px;
    border: 1px solid #651f7b;
    border-left: 0px;
    outline: none;
    font-weight: 500;
}

input[type="number"].product-count {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number].product-count::-webkit-inner-spin-button,
input[type=number].product-count::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.card hr.offer-split {
    width: 80%;
    margin: 25px auto;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    color: #f5f1d2ee;
    background-color: #8871ac;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    word-break: break-all;
    text-align: center;
    user-select: none;
    transition: .12s all linear;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #471258;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    pointer-events: none;
}

.input-group a i {
    color: #651f7b;
}

.add-photo {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* user profile END */

hr.minihr {
    height: 1px;
    padding: 0px !important;
    width: 50%;
    margin: 15px auto;
}
/* animations START */

@keyframes scroll-down {
    0% {
        /* top:20%; */
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}
/* animations END */
/* Responsive START */